* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header {
    background: #F5F5F5;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(10,10,10,0.3);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px; 
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.cart ion-icon {
    vertical-align: bottom;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
}

.cart a {
    background-color: royalblue;
    color: #fff;
    text-decoration: none;
}

.container,
.product-container  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin: 10px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}


/* -- Cart --*/

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    border-bottom: 4px solid lightgrey;
}

.item-header {
 width: 260px;
 padding-left: 110px;
}

.price-header {
    width: 250px;
}

.quantity-header {
    width: 205px;
}

.total-header {

}


.product-title {
    width: 45%;
}

.item {
    width: 400px;
}

.item-name {
    width: 900px;
    padding: 0 20px;
}



.price {
    width: 400px;
    align-items: center;
    display: flex;
    padding: 0 40px;
}


.quantity {
    width: 400px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}



.total {
    width: 400px;
    align-items: center;
    display: flex;
    padding-left: 80px;
}


.product {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}